#center {
    height: 100vh;  
    width: 100%;             
    display: flex;
    justify-content: center;    
    align-items: center; 
    font-family: Arial, sans-serif;
    background-color: dodgerblue;

}

#center-1 {
    height: 100vh;  
    width: 100%;             
    display: flex;
    justify-content: center;    
    align-items: center; 
    font-family: Arial, sans-serif;
    background-color: dodgerblue;

}

#user {
    width: 300px;
    height: 25px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 10px;
}

#user:focus {
    outline: none !important;
    border: 1px solid dodgerblue;
    box-shadow: 0 0 10px #0e76e6;
}


#login-form {
    padding: 20px;
    border: 1px solid gray;
    text-align: center;
    width:  500px;
    height: 350px;
    border-radius: 20px;
    background-color: #424242
}

#login-reg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

#log-button {
    font-weight: bold;
    color: white;
    width: 325px;
    border: 1px;
    background-color: dodgerblue;
    border-radius: 10px;
    height: 50px;
}


#login-header {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
}

#log-content {
    display: flex;
    justify-content: space-between;
    height: 150px;
}

#log-content-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: Arial, Sans-serif;
    border: 1px solid dodgerblue;
    height: 50px;
    font-size: 30px;
    width: 200px;
    border-radius: 10px;
    gap: 10px;
    color: white;
    text-decoration: none;
}

#log-content-1:hover {
    background-color: dodgerblue;

}

#easy, #medium, #hard{
    width: 250px;
    height: 70px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
}

#easy:hover, #medium:hover, #hard:hover {
    background-color:black;
    color: white;
}

#easy {
    background-color: rgb(19, 206, 19);
}

#medium {
    background-color: rgb(238, 238, 21);
}

#hard {
    background-color: rgb(255, 0, 0);
}

#game-box {
    width: 80%;
    height: 80%;
    border: 2px solid black;
}

#game-top {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
}
 
#game-left {
    width: 50%;
    height: 500px;

    margin: 20px;
    padding: 20px;
}

#game-right {
    width: 30%;
    height: 400px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
}

#game-word {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    font-weight: bold;
    font-size: 100px;
}

#game-keys {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin: 20px;
}

.key-button {
    font-size: 30px;
    width: 60px;
    height: 50px;
    border-radius: 10px;
    border: 1px;
    background-color: gray;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.key-button:hover {
    background-color:  red;
}

