#center {
    height: 100vh;  
    width: 100%;             
    display: flex;
    justify-content: center;    
    align-items: center; 
    font-family: Arial, sans-serif;
    background-color: dodgerblue;

}

#center-1 {
    height: 100vh;  
    width: 100%;             
    display: flex;
    justify-content: center;    
    align-items: center; 
    font-family: Arial, sans-serif;
    background-color: dodgerblue;

}

#user {
    width: 300px;
    height: 25px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 10px;
}

#user:focus {
    outline: none !important;
    border: 1px solid dodgerblue;
    box-shadow: 0 0 10px #0e76e6;
}


#login-form, #game-rules {
    padding: 20px;
    border: 1px solid gray;
    text-align: center;
    width:  45%;
    height: 50%;
    border-radius: 20px;
    background-color: #424242
}

#game-rules {
    display: flex;
    flex-direction: column;
    height: 50%;
}

h1 {
    color: white;
}

ul {
    text-align: left;
    color: white;
    font-size: 20px;

}
    

#login-reg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

#log-button {
    font-weight: bold;
    color: white;
    width: 325px;
    border: 1px;
    background-color: dodgerblue;
    border-radius: 10px;
    height: 50px;
}


#login-header {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
}

#log-content {
    display: flex;
    justify-content: space-between;
    height: 150px;
}

#log-content-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: Arial, Sans-serif;
    border: 1px solid dodgerblue;
    height: 50px;
    font-size: 30px;
    width: 200px;
    border-radius: 10px;
    gap: 10px;
    color: white;
    text-decoration: none;
}

#log-content-1:hover {
    background-color: dodgerblue;

}

#easy, #medium, #hard{
    width: 250px;
    height: 70px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
    border: 1px;
    cursor: pointer;
}

#easy:hover, #medium:hover, #hard:hover {
    background-color:black;
    color: white;
}

#easy {

    background-color: rgb(19, 206, 19);
}

#medium {
    background-color: rgb(238, 238, 21);
}

#hard {
    background-color: rgb(255, 0, 0);
}

#game-box {
    width: 80%;
    height: 80%;
    padding: 20px;
    border: 2px solid black;
}

#game-top {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
}
 
#game-left {
    width: 60%;
    height: 500px;

    margin: 20px;
    padding: 20px;
}

#game-right {
    width: 30%;
    height: 400px;
    margin: 20px;
    display: flex;
    align-items: center;
    font-size: 50px;
    padding-top: 40px;
}

#game-word {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    font-weight: bold;
    font-size: 100px;
    color: white;
}

#game-keys {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin: 20px;
}

.key-button {
    font-size: 30px;
    width: 60px;
    height: 50px;
    border-radius: 10px;
    border: 1px;
    background-color: gray;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.key-button:hover, #losePopup button:hover, #winPopup button:hover, #rules-button:hover, #gamebox-button:hover {
    background-color:  red;
}

.key-button:disabled {
     text-decoration: line-through; 
     text-decoration-color: red;
      background-color: #cccccc; 
      opacity: 0.6; 
      cursor: not-allowed;
}

#overlay {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  z-index: 999; /* Ensure it's above other content */
}

#winPopup, #losePopup {
  display: none; /* Hidden by default */
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 25%;
  height: 20%;
  transform: translate(-50%, -50%); /* Center the popup */
  background-color: rgb(29, 87, 145);
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure it's above the overlay */
  text-align: center;
}

#winPopup, #losePopup h1 {
  color: white; /* Green for win message */
}

#winPopup button, #losePopup button {
  background-color: grey; /* Blue button */
  color: white;
  padding: 10px 20px;             
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px;

}

#rules-button {
    margin: 20px;
    height: 50px;
    width: 100px;
    font-weight: bold;
    font-size: 25px;
    border: 1px;
    border-radius: 10px;
    background-color: gray;
    color: white;
    cursor: pointer;


}
 #gamebox-button{
    font-weight: bold;
    font-size: 25px;
    border: 1px;
    width: 160px;
    height: 30px;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    cursor: pointer;
 }

body {
    margin: 0px;
}
