#center {
    height: 100vh;  
    width: 100%;             
    display: flex;
    justify-content: center;    
    align-items: center; 
    font-family: Arial, sans-serif;
    background-color: dodgerblue;

}

#center-1 {
    height: 100vh;  
    width: 100%;             
    display: flex;
    justify-content: center;    
    align-items: center; 
    font-family: Arial, sans-serif;
    background-color: dodgerblue;

}

#user {
    width: 300px;
    height: 25px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 10px;
}

#user:focus {
    outline: none !important;
    border: 1px solid dodgerblue;
    box-shadow: 0 0 10px #0e76e6;
}

#login-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    width:  45%;
    height: auto;
    border-radius: 20px;
    background-color: #424242;
    overflow: hidden;
    position: absolute;
}

#game-rules {
    padding: 20px;
    text-align: center;
    width:  45%;
    height: auto;
    border-radius: 20px;
    background-color: #424242;
    overflow: hidden;
    position: absolute;
}

#game-rules {
    display: flex;
    flex-direction: column;
}

h1, h2 {
    color: white;
}

ul {
    text-align: left;
    color: white;
    font-size: 20px;

}
    

#login-reg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

#log-button {
    font-weight: bold;
    color: white;
    width: 325px;
    border: 1px;
    background-color: dodgerblue;
    border-radius: 10px;
    height: 50px;
}


#login-header {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
}

#log-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.log-content-1 {
    height: 70px;
    width: 30%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    border: 1px;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.log-content-1:hover {
    background-color: red;
    color: white;

}

#easy, #medium, #hard{
    width: 250px;
    height: 70px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
    border: 1px;
    cursor: pointer;
}

#easy:hover, #medium:hover, #hard:hover {
    background-color:red;
    color: white;
}

#prof-easy {
    color: rgb(19, 206, 19);
}

#prof-medium {
    color: rgb(238, 238, 21);
}

#prof-hard {
   color: red;
}

#easy {

    background-color: rgb(19, 206, 19);
}

#medium {
    background-color: rgb(238, 238, 21);
}

#hard {
    background-color: red;
}

#game-box {
    width: 80%;
    height: auto;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 20px;
}

#game-top {
    display: flex;
    justify-content: space-between;
    
}
 
#game-left {
    width: 60%;
    height: 500px;
    margin: 20px;
    padding: 20px;
}

#game-right {
    width: 30%;
    height: 400px;
    margin: 20px;
    display: flex;
    align-items: center;
    font-size: 50px;
    padding-top: 40px;
}

#game-word {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    font-weight: bold;
    font-size: 100px;
    color: white;
}

#game-keys {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin: 20px;
}

.key-button {
    font-size: 30px;
    width: 60px;
    height: 50px;
    border-radius: 10px;
    border: 1px;
    background-color: gray;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.key-button:hover, #losePopup button:hover, #winPopup button:hover, #rules-button:hover, #gamebox-button:hover, 
#score-button:hover {
    background-color:  red;
}

.key-button:disabled {
     text-decoration: line-through; 
     text-decoration-color: red;
      background-color: #cccccc; 
      opacity: 0.6; 
      cursor: not-allowed;
}

#overlay {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  z-index: 999; /* Ensure it's above other content */
}

#winPopup, #losePopup {
  display: none; /* Hidden by default */
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 25%;
  height: auto;
  transform: translate(-50%, -50%); /* Center the popup */
  background-color: rgb(29, 87, 145);
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure it's above the overlay */
  text-align: center;
}

#highscore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    background-color: #424242;
    width: 45%;
    height: auto;
    text-align: center;

}

.highStyle {
    display: flex;
    align-items: center;
    padding-left: 50px;

}
.highStyle > div {
    width: 33%;
    font-size: 30px;
    color: white;
    font-weight: bold;t
    

}

#scoreButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#score-button {
    height: 50px;
    width: 100px;
    background: gray;
    border: 1px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
}

#winPopup, #losePopup h1 {
  color: white; /* Green for win message */
}

#winPopup button, #losePopup button {
  background-color: grey; /* Blue button */
  color: white;
  padding: 10px 20px;             
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px;

}

#rules-button {
    margin: 20px;
    height: 50px;
    width: 100px;
    font-weight: bold;
    font-size: 25px;
    border: 1px;
    border-radius: 10px;
    background-color: gray;
    color: white;
    cursor: pointer;


}
 #gamebox-button{
    font-weight: bold;
    font-size: 25px;
    border: 1px;
    width: 160px;
    height: 50px;
    background-color: dodgerblue;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
 }

body {
    margin: 0px;
}

#page_num {
    display: flex;
    gap: 10px;
}

#pagination > button:hover, .pageNum:hover {
    background-color: red;
    border: 1px;
    border-radius: 5px;
}

#pagination > button, .pageNum {
    border: 1px;
    border-radius: 5px;
}


#previous_page, #next_page, .pageNum{
    height: 40px;
    width: 40px;
}

.active {
    background-color: dodgerblue;
}

#user-profile {
    height: auto;
    background-color: #424242;
    width: 45%;
    border: 1px;
    border-radius: 20px;
    color: white;
    overflow: hidden;
}

#user-top {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
    color: white;
}

#user-mid {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 15px;
    font-size: 50px;
}

#user-mid > div {
    padding: 10px;
}

#user-bottom {
    text-align: center;
    margin: 20px;
    padding: 15px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#user-top > a, #user-top > button {
    text-decoration: none;
    padding: 10px;
    border: 1px;
    background-color: gray;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}


#user-top > a:hover, #user-top > button:hover {
    background-color: red;
}

#profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.profile-tab > img {
    border-radius: 50%;
    width: 50px;
    height: 50px;

}

.profile-tab {
    display: flex;
    align-items: center;
    gap: 10px;

}

#user-pic {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    padding: 10px;

}
#mid-profile {
    display: flex;
    margin: 50px;
}
#user1 {
    width: 50%;
    padding: 10px;
}

#lab-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

label, #save-button {
    background-color: gray;
    display: flex;
    align-items: center;
    width: 75px;
    height: 25px;
    justify-content: center;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    color:white;
    border: 1px;
    margin-bottom: 5px;

}

label:hover, #save-button:hover {
    background-color: red;
}

#input-file {
    display: none;
}

#user1 {
    text-align: center;
}

#user-wrapper {
    margin: 30px;
    display: flex;
    justify-content: center;
}

#user1-mode {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 40px;
}

#scoreContainer {
    padding: 20px;
}

#scoreButton > h1 {
    width: 50%
}

#scoreButton > div {
    width: 25%;
}

#game-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-top-1 {
    padding-left: 20px; 
    font-size: 25px; 
    width: 12%;
}

#game-top-2 {
   text-align:center; 
   font-size: 100px;
}

#mode {
    text-align: center; 
    font-size: 40px; 
    color: red;
}

#category {
    text-align: center; 
    font-size: 50px;
}

#user-top {
    font-size: 30px;
}

#user-pic-1 {
    padding-right: 50px;
}   

#user1-1 {
    font-size: 40px; 
    margin: 20px; 
    height: 200 px;
}

@media (max-width: 600px) {
    #login-form, #user-profile, #highscore {   
       width: 99%;
    }
    
    #scoreContainer, .highStyle {
        padding: 10px;
    }

    #scoreButton {
        font-size: 10px;
    }

    #scoreButton > div {
        width: 0%
    }

    #score-button {
        width: auto;
    }

    #highscore {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        border-radius: 0px;
    }

    .highStyle > div {
        font-size: 15px;
        justify-content: center;
        padding: 0px;
        border-radius: 0px;
        padding: 0px;
    }

    #game-rules {
        width: auto;
        justify-content: center;
        border-radius: 20px;
        height: 100%;
    }

    .log-content-1, #easy, #medium, #hard {
        font-size: 20px;
        height: 50px;
    }

    #easy, #medium, #hard {
        width: 150px;
    }


    #login-form {   
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 0px;
        padding: 20px;
    }

    #game-mode {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #log-content {
        padding: 10px;
    }

    #center {
        background-color: #424242
    }
    
    #center-1 {
        height: 100vh;
    }

    #game-box {
        width: 100%;
        padding: 0px;
        border: 0
    }

    #game-top-1 {
        padding-left: 0px;

    }

    #game-top {
        padding: 20px;
    }   

    #game-top-2-filler {
        padding-left: 25px;
    }

    #game-top-1 > div{
        font-size: 15px;
    }
    
    #category {
        font-size: 20px;
    }

    #game-top-2 {
        font-size: 50px;
    }

    #mode {
        font-size: 30px;

    }
    #gamebox-button {
        font-size: 15px;
        height: 0px;
        width: 150px;
        display: flex;
        align-items: baseline;
    }

    #game-left {
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
    }

    #game-word {
        height: auto;
        font-size: 30px;
        text-align: center;
    }

    #game-keys {
        height: auto;
        margin: 0;
        padding: 10px;
    }

    .key-button {
        font-size: 20px;
        margin: 2px;
    }

    #game-right {
        height: auto;
        font-size: 24px;
        padding-right: 30px;
        margin: 0px;
        display: flex;
    }

    #winPopup {
        font-size: 15px;
        width: auto;
        margin: 0px;
    }

    #losePopup {
        margin: 0px;
        width: 70%

    }
    #winPopup > button, #losePopup > button {
        margin: 0px;
    }
    
    #user-profile {
        height: 100%;
    }
    
    #user-top {
        font-size: 20px;
        align-items: center;
    }

    #mid-profile {
        margin: 0px;
        display: block;
    }

    #user-pic {
        width: 100%;
        padding: 0px;
    }

   #user1 {
    width: 100%;
    padding: 0px;
   }

   #user1-1 {
    font-size: 40px;
    text-align: center;
    padding: 0px;
   }

   #user1-mode, #user1-1 {
    font-size: 50px;
   }

}