{% extends "hangman/layout.html" %}
{% load static %}

{% block body %}
    <div id="center">
        <div id="login-form">
            <div id="log-content">
                <button class="log-content-1" onclick="profile()">{{ user }}</a>
                <button class="log-content-1" onclick="displayScores()">High Score</button>
                <a class="log-content-1" href="{% url 'logout' %}">Logout</a>
            </div>
            <div id="game-mode">
                <button id="easy" value="easy" class="game" onclick="game_mode(this.value)">Easy</button>
                <button id="medium" value="medium" class="game" onclick="game_mode(this.value)">Medium</button>
                <button id="hard" value="hard" class="game" onclick="game_mode(this.value)">Hard</button>
            </div>
        </div>
        <div id="highscore" style="display: none;">
            <div id="highscore-filler">
                <div id="scoreButton">
                    <div style="text-align: left">
                        <button id="score-button" onclick="menu()">Back</button>
                    </div>
                    <h1> Score Rankings</h1>
                    <div></div>
                </div>
                <div id="scoreContainer">
                </div>
                <div  id="pagination" style="display: flex; justify-content: center; gap: 10px;";>
                    <button id="previous_page"  onclick="previous_page()">&lt;&lt;</button>
                    <div id="page_num"></div>
                    <button id="next_page" onclick="next_page()">&gt;&gt;</button>
                </div>
            </div>
        </div>
        <div id="user-profile" style="display: none;">
                <div id="top-wrapper">
                    <div id="user-top">
                        <a href="{% url 'index' %}">Back</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
                <div id="mid-profile">
                     <div id="user-pic">    
                        <div style="display: flex; gap: 10px;">  
                            {% if name.image %}
                                <img src="{{ name.image.url }}" id="profile-pic" alt="Profile image">
                            {% else %}
                                <img src="{% static 'hangman/images/default.png' %}" alt="default.png" id="profile-pic">
                            {% endif %}
                            <div id="lab-wrapper">
                                <form id="pic" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <label for="input-file">Upload</label>
                                    <input type="file" name="userImage" accept="image/jpeg, image/png, image/jpg" id="input-file">
                                    <button id="save-button" type="submit">Save</button>
                                </form>
                            </div>
                        </div>
                        <div id="user-pic-1" style="padding-right: 50px;">
                            <div>
                                <div style="font-size: 40px; text-align: center;">{{ user }}</div>
                                <div style="text-align: center;">{{ tag }}</div>
                                <div style="padding-top: 10px; text-align: center;">Date Joined: {{ date }}</div>
                            </div>
                        </div>
                </div>
                <hr>
                <div id="user1">
                    <div>
                        <div id="user1-1">Highest Scores</div>
                    </div>
                    <div id="user-wrapper">
                        <div id="user1-mode">
                            <div id="prof-easy"></div>
                            <div id="prof-medium"></div>
                            <div id="prof-hard"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="game-rules" style="display: none;">
            <h1>Game Rules</h1>
            <ul>
                <li>Players have 6 lives. -1 life per wrong guess.</li>
                <li>2 minutes to guess the word</li>
                <li>If the guess is correct, the letter will show on it's correct position on the dashes</li>
            </ul>
            <h1>Scoring Rules</h1>
            <ul>
                <li>20(*2 for Medium - *3 for Hard) points per correct guess.</li>
                <li>-10 points per wrong guess.</li>
                <li>If player correctly guess the word +500 bonus points</li>
                <li>If player solves the word before the allotted time then 
                    remaining time will be multiplied by 10 and will be added as bonus score.
                    (i.e: remaining time = 1:25 (85 * 10) = 850 bonus points)   
                </li>
            </ul>
            <div>
                <button id="rules-button" onclick="next()">Play</button>
                <button id="rules-button" onclick="menu()">Menu</button>
            </div>
        </div>
    </div>

    <div id="center-1" style="display: none;">
        <div id="game-box">
            <div id="game-top">
                <div id="game-top-1">
                    <div>{{ user }}</div>
                    <div id="score">Score: 0 </div>
                    <div id="time">Time: 60</div>
                </div>
                <div id="game-top-2-filler">
                    <div id="game-top-2">Hangman</div>
                    <div id="mode">Mode: EASY</div>
                </div>
                <button  id="gamebox-button" onclick="menu()">Main Menu</button>
            </div>
            <div id="g-overlay" style="display: flex; padding: 5px;">
                <div id="game-left">
                    <div id="category">Example</div>
                    <div id="game-word"></div>
                    <div id="game-keys">
                        <div id="game-column" style="padding: 7px;">
                            <button data-key="A" class="key-button">A</button>
                            <button data-key="B" class="key-button">B</button>
                            <button data-key="C" class="key-button">C</button>
                            <button data-key="D" class="key-button">D</button>
                            <button data-key="E" class="key-button">E</button>
                            <button data-key="F" class="key-button">F</button>
                            <button data-key="G" class="key-button">G</button>
                            <button data-key="H" class="key-button">H</button>
                            <button data-key="I" class="key-button">I</button>
                        </div>
                        <div id="game-column" style="padding: 7px;">
                        <button data-key="J" class="key-button">J</button>
                        <button data-key="K" class="key-button">K</button>
                        <button data-key="L" class="key-button">L</button>
                        <button data-key="M" class="key-button">M</button>
                        <button data-key="N" class="key-button">N</button>
                        <button data-key="O" class="key-button">O</button>
                        <button data-key="P" class="key-button">P</button>
                        <button data-key="Q" class="key-button">Q</button>
                        <button data-key="R" class="key-button">R</button>
                        </div>
                        <div id="game-column" style="padding: 7px;">
                            <button data-key="S" class="key-button">S</button>
                            <button data-key="T" class="key-button">T</button>
                            <button data-key="U" class="key-button">U</button>
                            <button data-key="V" class="key-button">V</button>
                            <button data-key="W" class="key-button">W</button>
                            <button data-key="X" class="key-button">X</button>
                            <button data-key="Y" class="key-button">Y</button>
                            <button data-key="Z" class="key-button">Z</button>
                        </div> 
                    </div>      
                </div>
                <div id="game-right">
                    <pre id="game-sticks">
                    <pre>
                </div>
                <div id="overlay"></div>
                <div id="winPopup">
                    <h1>Congratulations! You Won!</h1>
                    <div id="finalWin"></div>
                    <button id="closePopup" onclick="playAgain()">Play Again</button>
                    <button id="closePopup" onclick="menu()">Main Menu</button>
                </div>
                <div id="losePopup">
                    <h1>Sorry, You Lost!</h1>
                    <div id="cor-word"></div>
                    <div id="finalLose"></div>
                    <button id="closePopup" onclick="playAgain()">Play Again</button>
                    <button id="closePopup" onclick="menu()">Main Menu</button>
                </div>
        </div>


    </div>
    

{% endblock %}


{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.3/tsparticles.confetti.bundle.min.js"></script>
    <script src="{% static 'hangman/hangman.js' %}"></script>
{% endblock %}