{% extends "hangman/layout.html" %}
{% load static %}

{% block body %}
    <div id="center">
        <div id="login-form-1">
            <form  action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div id="login-header">Register</div>
            <div>
                {% if message %}
                    <div style="color: red;">{{ message }}</div>
                {% endif %}
                <input id="user" type="text" name="username" placeholder="Username">
            </div>
            <div>
                <input id="user" type="email" name="email" placeholder="Email Address">
            </div>
            <div>
                <input id="user" type="password" name="password" placeholder="Password">
            </div>
            <div>
                <input id="user" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <input id="log-button"type="submit" value="Register">
            </form>
         <div id="login-reg" style="gap: 10px;">
            <div style="color: white;">Already have an account?</div>
            <a href="{% url 'login' %}">Log In here.</a>
         </div>
        </div>
    </div>

{% endblock %}